apiVersion: v1
kind: Service
metadata:
  annotations:
  labels:
    app: xmpp
  name: xmpp-svc
spec:
  type: NodePort
  selector:
    app: xmpp
  ports:
  - name: c2s
    port: 5222
    targetPort: 5222
    nodePort: 30395
  - name: admin
    port: 5280
    targetPort: 5280
    nodePort: 30396
status:
  loadBalancer: {}
